.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

body
{
    background-size: cover;
    background-position: center;
}

#bt{
    color: blueviolet;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}